/*
モバイルファースト
モバイル向けCSSコーディングを最初にする

#top-pic {
    height: 250px;
    background-image: url(../images/image_top.jpg);
    background-size: cover;
    background-position: center bottom;
}


ここから下にデスクトップ向けCSS
@media screen and (min-width: 769px) {
 #top-pic {
   height: 500px;
  }
}

*/
#top-pic {
    height: 250px;
    background-image: url(../images/image_top.jpg);
    background-size: cover;
    background-position: center bottom;
}

.text1 .text2 {
    text-align: center;
    font-size: 30px;
}
.text1 {
    color:#808080;
}
.text2 {
    color:#ffffff;
}
.main-text {
    text-align: center;
    font-size: 3.0rem;
}
section h1 {
    padding: 25px;
    color: #808080;
}
.wrap {
    width:100%;
    font-size: 0;
    text-align:center;
}
.box1 {
   display: block; 
   width: 100%;
   height: 250px;
   /*margin: 0 auto;*/
   margin-bottom:20px;
   /*padding: ;*/
   text-align: center;
   background-color: #d3d3d3;
   font-size: 16px;
}
.box1 .box2 {
   border: 0px;
   padding: 10px;
}
.box2 {
    height: 200px;
    background-color: #808080;
}
section #box .conteiner {
    width: 100%;
    
    display: flex;
    
    margin-right: auto;
    margin-left: auto;
}
#button .button-box {
    font-size: 1rem;

    display: block;

    width: 180px;
    margin: auto;
    padding: 5px 0;

    text-align: center;

    background-color: #808080;
    color: #ffffff;
    border-radius: 5px
}
section h3 {
    text-align: center;
    font-size: 1.3rem;
    padding:20px;
    color: #808080;
}



@media screen and (min-width: 769px){
#top-pic {
    height: 500px;
    background-image: url(../images/image_top.jpg);
    background-size: cover;
    background-position: center bottom;
}

.text1 .text2 {
    text-align: center;
    font-size: 30px;
}
.text1 {
    color:#808080;
}
.text2 {
    color:#ffffff;
}
.main-text {
    text-align: center;
    font-size: 3.0rem;
}
section h1 {
    padding: 25px;
    color: #808080;
}
.wrap {
    width:100%;
    font-size: 0;
    text-align:center;
}
.box1 {
   display: inline-block; 
   width: 25%;
   height: 250px;
   /*margin: 0 auto;*/
   margin-right:20px;
   /*padding: ;*/
   text-align: center;
   background-color: #d3d3d3;
   font-size: 16px;
}
.box1 .box2 {
   border: 0px;
   padding: 10px;
}
.box2 {
    height: 200px;
    background-color: #808080;
}
section #box .conteiner {
    width: 100%;
    
    display: flex;
    
    margin-right: auto;
    margin-left: auto;
}
#button .button-box {
    font-size: 1rem;

    display: block;

    width: 180px;
    margin: auto;
    padding: 5px 0;

    text-align: center;

    background-color: #808080;
    color: #ffffff;
    border-radius: 5px
}
section h3 {
    text-align: center;
    font-size: 1.3rem;
    padding:20px;
    color: #808080;
}



}